* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
.logo {
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.logo img {
    height: 50px;
    width: 50px;
}
#kabhome{
    position: absolute;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2rem;
}

.menu-items {
    flex: 1;
    padding: 50px 10%;
    background-color: #d8e2dc;
}


.menu-section {
    padding-bottom: 80px;
}

.food-feature {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background: #f2f4f1;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(20, 83, 45, 0.05);
}
#desc{
    font-size: 18px;
    font-weight: 90px;
}

.food-feature img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.feature-info {
    padding: 30px;
}   

.feature-info h4 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2rem;
    color: #14532d;
    margin-bottom: 10px;
}


.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.food-item img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.item-desc {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #14532d;
}


.group-title, .sticky-header {
    background: #d8e2dc;
    padding: 20px 0;
    font-family: Georgia, "Times New Roman", serif;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(20, 83, 45, 0.1);
    margin-bottom: 40px;
    font-size: 25px;
}

.menu-link {
    display: block;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
    font-family: Georgia, "Times New Roman", serif;

}

.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: transparent; 
    z-index: 1000; 
}

.btn {
    background: #166534;
    color: white;
    padding: 8px 15px;
    border-radius: 3px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color:black;
    font-weight: 500;   
    transition: 0.3s;
}


.nav-links a:hover, .active-page {
    color: #22c55e; 
}


.menu-page {
    display: flex;
    margin-top: 0;
}


.sidebar-content {
    margin-top: 70px; 
    margin-left: 9vh;
}
html {
    scroll-behavior: smooth;
}

.menu-page {
    display: flex;
}
.category-links{
    font-family: Georgia, "Times New Roman", serif;
    scroll-target-group: auto;
    a:target-current{
        color: #fdfcf0;
        transform: translateX(10px);
    }
}

.menu-sidebar {
    flex: 0 0 30%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #14532d;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
#book{
    position: relative;
    width: 800px;
    height: 65vh;
    background:#eaf4ef;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 18px;
    margin-left: 8vh;
    padding-left: 10vh;
}
#bookheader{
    position: absolute;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 25px;
    margin-top: -5vh;
    margin-left: 250px;
}
#eventtype, #timeslot, #guests, #date, #clientname, #contactinfo, #details{
    position: relative;
    text-align: left;
    font-size: 23px;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    margin-bottom: 5px;
}
input[type="text"], select, input[type="number"], input[type="date"]{
  font-size: 23px;
  width: 400px;
  height: 50px;
  padding: 8px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: 90px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
textarea{
    position: absolute;
    width: 400px;
    height: 120px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 23px;
}
#clientinput{
    position: relative;
    margin-left: 85px;
}
#contactinput{
    position: relative;
    margin-left: 20px;
}
#eventinput{
    position: relative;
    margin-left: 35px;
}
#timeinput{
    position: relative;
}
#guestinput{
    position: relative;
    margin-left: 20px;
}
#dateinput{
    position: relative;
    margin-left: 100px;
}
#detailsinput{
    position: absolute;
    margin-left: 85px;
}
#submitreq{
    position: relative;
  background: #166534;
  font-size: 23px;
  border-radius: 12px;
  width: 200px;
  height: 35px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  margin-top: 100px;
  margin-left: 24vh;
}
#submitreq:hover{
  background: #22c55e;
}
#contacts{
    width: 100%;
    height: 300px;
    background-color: #3c2f2c; 
    position: relative;
    color: #d8e2dc;
    text-align: center;
}
iframe{
    position: relative;
    height: 25vh;
    width: 35vh;
    margin-top: 4vh;
    margin-right: 135vh;
    border-radius: 10px;
}
#address{
    position: absolute;
    margin-top: -25vh;
    margin-left: 70vh;
}
#contactno{
    position: absolute;
    margin-top: -25vh;
    margin-left: 100vh;
}
#socmed{
    position: absolute;
    margin-top: -25vh;
    margin-left: 135vh;
}
#addp{
    position: absolute;
    margin-top: -18vh;
    margin-left: 70vh;
    width: 15vh;
    text-align: left;
    font-size: 20px;
}
#contactp{
    position: absolute;
    text-align: left;
    margin-top: -18.5vh;
    margin-left: 106vh;
    font-size: 20px;
}
#fblogo{
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: #3c2f2c;
    border-radius: 30px;
    margin-top: 10vh;
    margin-left: -47vh;
}
#iglogo{
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: #3c2f2c;
    border-radius: 30px;
    margin-top: 10vh;
    margin-left: -38vh;
}
#phonelogo{
    margin-top: 9.25vh;
    position: absolute;
    height: 6.5vh;
    width: 6.5vh;
    background-color: #3c2f2c;
    border-radius: 30px;
    margin-left: -85.5vh;
}