* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    background-color: #d8e2dc; 
    background-image: url('2024-11-19.jpg');
    background-position: right;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    display: flex;
    align-items: center;
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.logo img {
    height: 50px;
    width: 50px;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
nav ul li a:hover {
    color: #22c55e; 
}

.btn {
    background: #166534;
    color: white;
    padding: 8px 15px;
    border-radius: 3px;
}
.btn:hover {
    background: #22c55e; 
    color: white;
}

.hero-text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: black;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text p {
    margin-top: 10px;
}


.highlight-overlay {
    position: absolute;
    left: 35%; 
    width: 50%; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;    
    gap: 40px; 
}

.card {
    position: relative;
    height: 250px; 
    display: flex;
    align-items: flex-end; 
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}


.card-coffee { background-image: url('kabesera-cafe-house-blends.jpg'); }
.card-pastry { background-image: url('kabesera-cafe-s-fresh\ \(2\).jpg'); }
.card-events { background-image: url('unnamed\ \(2\).webp'); }

.card-events {
    grid-column: span 2; 
    width: 80%;          
    justify-self: center; 
}


.card-content {
    width: 100%;
    padding: 20px;
    background: rgba(20, 83, 45, 0.4); 
    backdrop-filter: blur(8px);       
    -webkit-backdrop-filter: blur(8px);
    color: white;
}

.card:hover {
    transform: scale(1.03); 
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.card p {
    font-size: 0.9rem;
    opacity: 0.9;
}
